---
layout: landing
tags:
  - Video Blog
---
	<div class="row spacer">
	Recent Posts by Industry</div>
	<div class="row selection-container white-section">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 selection-box">
			<a href="{{page.URL}}/bio-pharma"><figure class="effect-lily">
				<img src="{{site.data.settings.images.selection_image1_path}}" alt="Bio Pharma" />
					<figcaption>
						<div>
							<h2>Bio Pharma</h2>
							<p>
								Our recruiters specialize in the biotech and pharmaceutical industries. They have built up the experience and the relationships that offer them access to the most relevant and up-to-date industry information. They know the key players in the top companies and have deep relationships with them. When you work with a Govig recruiter, you are benefitting from those relationships. We put our emphasis on reputation and integrity, and we always putting our clients’ best interests first.
							</p>
						</div>
					</figcaption>
				</figure></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 selection-box limit-3">
			<ul>
			{% for post in site.tags.["Bio Pharma"] limit: 3 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
				<a class="view-all-posts" href="{{page.URL}}/bio-pharma">View All Posts</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 selection-box limit-1">
			<ul>
			{% for post in site.tags.["Bio Pharma"] limit: 1 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
			<a class="view-all-posts" href="{{page.URL}}/bio-pharma">View All Posts</a>
		</div>
	</div>
	<div class="row selection-container gray-section">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6 col-lg-7 col-lg-push-5 selection-box">
			<a href="{{page.URL}}/building-products"><figure class="effect-lily">
				<img src="{{site.data.settings.images.selection_image2_path}}" alt="Building Products" />
					<figcaption>
						<div>
							<h2>Building Products</h2>
							<p>We specialize in specific segments within the building products industry. We stay aware of trends, news, and events that impact the market in order to share that information with our clients and candidates. Our team is differentiated by our ability to understand the infrastructure of a variety of organizations, which allows us to identify the right people to help them exceed their growth expectations. We have completed a wide range of projects, including extremely confidential “C” level position hires, hard to fill technical roles, and high-speed/high-volume assignments. The relationships we build ensure strong cultural matches and complete transparency to make sure the prospect is the right fit.</p>
						</div>
					</figcaption>
				</figure></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-7 selection-box limit-3">
			<ul>
			{% for post in site.tags.["Building Products"] limit: 3 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
			<a class="view-all-posts" href="{{page.URL}}/building-products">View All Posts</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-7 selection-box limit-1">
			<ul>
			{% for post in site.tags.["Building Products"] limit: 1 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
			<a class="view-all-posts" href="{{page.URL}}/building-products">View All Posts</a>
		</div>
	</div>
	<div class="row selection-container white-section">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 selection-box">
			<a href="{{page.URL}}/careers"><figure class="effect-lily">
				<img src="{{site.data.settings.images.selection_image3_path}}" alt="Careers" />
					<figcaption>
						<div>
							<h2>Careers</h2>
							<p>Here at Govig & Associates, we pride ourselves on knowing how to find the right fit. We do it day-in and day-out for our clients, and we apply the same principle to finding the right talent for us. We are an award-winning office and one of Arizona’s “Best Places to Work” according to the Phoenix Business Journal. We provide our employees with autonomy, a supportive team, and a high-performance culture. We not only attract and hire the right people, we provide them with the tools they need to be successful. We also provide full benefits, including health, vision, dental, and 401(k).</p>
						</div>
					</figcaption>
				</figure></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 selection-box white-section limit-3">
			<ul>
			{% for post in site.tags.["Careers"] limit: 3 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
			<a class="view-all-posts" href="{{page.URL}}/careers">View All Posts</a>
		</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 selection-box white-section limit-1">
		<ul>
		{% for post in site.tags.["Careers"] limit: 1 %}
			<li class="leading-article">
				<a href="{{post.url}}">{{post.title}}</a>
				<p>{{post.excerpt}}</p>
			</li>
		{% endfor %}
		</ul>
		<a class="view-all-posts" href="{{page.URL}}/careers">View All Posts</a>
	</div>
</div>
	<div class="row selection-container gray-section">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6 col-lg-7 col-lg-push-5 selection-box">
			<a href="{{page.URL}}/futurity"><figure class="effect-lily">
				<img src="{{site.data.settings.images.selection_image4_path}}" alt="Futurity" />
					<figcaption>
						<div>
							<h2>Futurity</h2>
							<p>Govig Futurity is a keystone product of our company. With it, we help companies look into the future, improve employee engagement, and drive business results. We’re experienced in this area and know what it takes for businesses to grow and reach their full potential.</p>
						</div>
					</figcaption>
				</figure></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-7 selection-box limit-3">
			<ul>
			{% for post in site.tags.["Futurity"] limit: 3 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
			<a class="view-all-posts" href="{{page.URL}}/futurity">View All Posts</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-7 selection-box limit-1">
			<ul>
			{% for post in site.tags.["Futurity"] limit: 1 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
			<a class="view-all-posts" href="{{page.URL}}/futurity">View All</a>
		</div>
	</div>
	<div class="row selection-container white-section">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 selection-box">
			<a href="{{page.URL}}/health-care"><figure class="effect-lily">
				<img src="{{site.data.settings.images.selection_image5_path}}" alt="Health Care" />
					<figcaption>
						<div>
							<h2>Health Care</h2>
							<p>Changes in the senior housing industry have contributed to the current talent shortage the healthcare industry has faced over the past 18 months and will continue to face in the future. Govig Healthcare Group became acutely aware of these changes and have broadened our service to include things like employment branding, talent management strategies, and developing a strong culture. Govig Healthcare group has been in business since 1988, and we work nationwide in order to help as many companies as possible.</p>
						</div>
					</figcaption>
				</figure></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 selection-box limit-3">
			<ul>
			{% for post in site.tags.["Health Care"] limit: 3 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
			<a class="view-all-posts" href="{{page.URL}}/health-care">View All Posts</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 selection-box limit-1">
			<ul>
			{% for post in site.tags.["Health Care"] limit: 1 %}
				<li class="leading-article">
					<a href="{{post.url}}">{{post.title}}</a>
					<p>{{post.excerpt}}</p>
				</li>
			{% endfor %}
			</ul>
			<a class="view-all-posts" href="{{page.URL}}/health-care">View All Posts</a>
		</div>
	</div>
