<div class="container-fluid gray hidden-sm hidden-xs">
	<div class="row">
		<div class="col-md-4">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Ron Margolis</strong><br>
			R(B) 20918<br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path2 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Gwen Margolis</strong><br>
			R(S) - 66941<br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path3 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Bailey</strong><br>
			</div>
		</div>
	</div>
</div>
