<div class="container-fluid gray hidden-sm hidden-xs">
	<div class="row">
		<div class="col-md-4">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Marcus Green</strong><br>
			Operating Principal at KW Utah Realtors<br>
			<a href="tel:801-643-3870">801-643-3870</a><br>
			<a href="mailto:Marcus@KWutah.com">Marcus@KWutah.com</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path2 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Kathy Moore</strong><br>
			Team Leader/CEO<br>
			KW Utah Realtors | Midvale, Utah<br>
			<a href="http://kathymoore.myhomehq.biz/">KathyMoore.MyHomeHQ.biz</a><br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path3 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Cassie Dow</strong><br>
			Team Leader/CEO<br>
			KW Legacy | Layton, Utah<br>
			<a href="http://legacy.yourkwoffice.com">legacy.yourkwoffice.com</a>
			</div>
		</div>
	</div>
</div>
