<div class="disclosure">
  <p>Annuity guarantees rely on the financial strength and claims-paying ability of the issuing insurer. Any comments regarding safe and secure investments, and guaranteed income streams refer only to fixed insurance products. They do not refer, in any way to securities or investment advisory products. Fixed Insurance and Annuity product guarantees are subject to the claims‐paying ability of the issuing company and are not offered by Retirement Wealth Advisors.</p>
</div>
