<div class="career-track">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="career-title">Career Track</div>
      <div class="career-subtitle">Your Path to a Life by Design</div>
      <a href="/img/career-graph.png" target="_blank" class="zoom">
        <img src="/img/career-graph.png" class="three-quarter-image" id="graph">
      </a><br>
      <a href="/img/career-table.png" target="_blank" class="zoom">
        <img src="/img/career-table.png" class="post-image">
      </a>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
