<div class="carousel">
  <input id="image1" type="radio" name="image-selector" checked="checked" />
  <label for="image30">Sprinkles</label>
  <img src="/img/001.JPG" />

  <input id="image2" type="radio" name="image-selector" />
  <label for="image1">Sprinkles</label>
  <img src="/img/002.JPG" />

  <input id="image3" type="radio" name="image-selector" />
  <label for="image2">Sprinkles</label>
  <img src="/img/003.JPG" />

  <input id="image4" type="radio" name="image-selector" />
  <label for="image3">Sprinkles</label>
  <img src="/img/004.JPG" />

  <input id="image5" type="radio" name="image-selector" />
  <label for="image4">Sprinkles</label>
  <img src="/img/005.JPG" />

  <input id="image6" type="radio" name="image-selector" />
  <label for="image5">Sprinkles</label>
  <img src="/img/006.JPG" />

  <input id="image7" type="radio" name="image-selector" />
  <label for="image6">Sprinkles</label>
  <img src="/img/007.JPG" />

  <input id="image8" type="radio" name="image-selector" />
  <label for="image7">Sprinkles</label>
  <img src="/img/008.JPG" />

  <input id="image9" type="radio" name="image-selector" />
  <label for="image8">Sprinkles</label>
  <img src="/img/009.JPG" />

  <input id="image10" type="radio" name="image-selector" />
  <label for="image9">Sprinkles</label>
  <img src="/img/010.JPG" />

  <input id="image11" type="radio" name="image-selector" />
  <label for="image10">Sprinkles</label>
  <img src="/img/011.JPG" />

  <input id="image12" type="radio" name="image-selector" />
  <label for="image11">Sprinkles</label>
  <img src="/img/012.JPG" />

  <input id="image13" type="radio" name="image-selector" />
  <label for="image12">Sprinkles</label>
  <img src="/img/013.JPG" />

  <input id="image14" type="radio" name="image-selector" />
  <label for="image13">Sprinkles</label>
  <img src="/img/014.JPG" />

  <input id="image15" type="radio" name="image-selector" />
  <label for="image14">Sprinkles</label>
  <img src="/img/015.JPG" />

  <input id="image16" type="radio" name="image-selector" />
  <label for="image15">Sprinkles</label>
  <img src="/img/016.JPG" />

  <input id="image17" type="radio" name="image-selector" />
  <label for="image16">Sprinkles</label>
  <img src="/img/017.JPG" />

  <input id="image18" type="radio" name="image-selector" />
  <label for="image17">Sprinkles</label>
  <img src="/img/018.JPG" />

  <input id="image19" type="radio" name="image-selector" />
  <label for="image18">Sprinkles</label>
  <img src="/img/019.JPG" />

  <input id="image20" type="radio" name="image-selector" />
  <label for="image19">Sprinkles</label>
  <img src="/img/020.JPG" />

  <input id="image21" type="radio" name="image-selector" />
  <label for="image20">Sprinkles</label>
  <img src="/img/021.JPG" />

  <input id="image22" type="radio" name="image-selector" />
  <label for="image21">Sprinkles</label>
  <img src="/img/022.JPG" />

  <input id="image23" type="radio" name="image-selector" />
  <label for="image22">Sprinkles</label>
  <img src="/img/023.JPG" />

  <input id="image24" type="radio" name="image-selector" />
  <label for="image23">Sprinkles</label>
  <img src="/img/024.JPG" />

  <input id="image25" type="radio" name="image-selector" />
  <label for="image24">Sprinkles</label>
  <img src="/img/025.JPG" />

  <input id="image26" type="radio" name="image-selector" />
  <label for="image25">Sprinkles</label>
  <img src="/img/026.JPG" />

  <input id="image27" type="radio" name="image-selector" />
  <label for="image26">Sprinkles</label>
  <img src="/img/027.JPG" />

  <input id="image28" type="radio" name="image-selector" />
  <label for="image27">Sprinkles</label>
  <img src="/img/028.JPG" />

  <input id="image29" type="radio" name="image-selector" />
  <label for="image28">Sprinkles</label>
  <img src="/img/029.JPG" />

  <input id="image30" type="radio" name="image-selector" />
  <label for="image29">Sprinkles</label>
  <img src="/img/030.JPG" />

  <label for="image30">View image 30</label>
  <label for="image1">View image 1</label>



</div>
