<address class="contact">
  <strong>{{site.data.settings.client.name}}</strong>
  {% if site.data.settings.client.brand and site.data.settings.client.brokerage == null %}
    <br>
    {{site.data.settings.client.address}}
    <br>
  {% elsif site.data.settings.client.brand == null %}
    <br>
    {{site.data.settings.client.brokerage}}
    <br>
    {{site.data.settings.client.address}}
    <br>
  {% elsif site.data.settings.client.brokerage == null %}
    <br>
    {{site.data.settings.client.brand}}
    <br>
    {{site.data.settings.client.address}}
    <br>
  {% else %}
    <br>
    {{site.data.settings.client.brand}}
    <br>
    {{site.data.settings.client.brokerage}}
    <br>
    {{site.data.settings.client.address}}
    <br>
  {% endif %}
  <a href="tel:1-{{site.data.settings.client.phone}}">{{site.data.settings.client.phone}}</a>
  <br>
  <a href="mailto:{{site.data.settings.client.email}}">{{site.data.settings.client.email}}</a>
</address>

<div id="wufoo-zn2iunj0fori6u">
Fill out my <a href="https://hhande.wufoo.com/forms/zn2iunj0fori6u">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var zn2iunj0fori6u;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'hhande',
'formHash':'zn2iunj0fori6u',
'autoResize':true,
'height':'520',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zn2iunj0fori6u = new WufooForm();zn2iunj0fori6u.initialize(options);zn2iunj0fori6u.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
