{% for cta in site.data.settings.sidebar_CTA %}
<div class="cta-sidebar-container">
	<div class="cta-img-container">
		{% if cta.CTA_link_text == null or cta.CTA_url == null%}
	<a href="{{cta.first_CTA_URL}}" target="_blank">
		{% else %}
		<a href="{{cta.CTA_url}}" target="_blank">
		{%endif%}
		<img src="{{cta.CTA_image_path}}" alt="" />
	</a>
	</div>
	<h5>{{cta.CTA_title}}</h5>
	<p>
		{{cta.CTA_text | replace: '-- MARKET --', site.data.settings.client.market}}
	</p>
	<div class="ctacontainer">
		{% if cta.CTA_link_text == null or cta.CTA_url == null%}
		<a class="ctalink" href="{{site.data.settings.CTAs.first_CTA_URL}}" target="_blank">
			{{site.data.settings.CTAs.first_CTA_text}}
		</a>
		{% else %}
		<a class="ctalink" href="{{cta.CTA_url}}" target="_blank">
			{{cta.CTA_link_text}}
		</a>
		{% endif %}
	</div>
</div>
		<div style="text-align:center;"><a href="http://strongtowerpa.com/" target="_blank";><img src="/img/logo.png" style="width:80%;" alt="" /></a></div>
		<br><h2 style="text-align:center;">As Seen On</h2>
		<div style="text-align:center">
			<img src="/img/logos/001.png" style="width:25%; margin:10px;"><img src="/img/logos/002.png" style="width:25%; margin:10px;"><img src="/img/logos/003.png" style="width:25%; margin:10px;"><br>
			<img src="/img/logos/004.png" style="width:25%; margin:10px;"><img src="/img/logos/005.png" style="width:25%; margin:10px;"><img src="/img/logos/006.png" style="width:25%; margin:10px;"><br>
			<img src="/img/logos/007.png" style="width:25%; margin:10px;"><img src="/img/logos/008.png" style="width:25%; margin:10px;"><img src="/img/logos/009.png" style="width:25%; margin:10px;"><br>
			<img src="/img/logos/010.png" style="width:33%; margin:10px;"><img src="/img/logos/011.png" style="width:33%; margin:10px;">
		</div>
{% endfor %}
