<div class="photo-cta">
  <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  <div class="cta-button"><a href="/join-our-team">Apply Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/newsletter.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/subscribe">Sign Up Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/strategy_call.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/strategy-call">Book a Call   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/workshop.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="https://www.eventbrite.com/e/central-iowa-real-estate-agent-business-planning-clinic-tickets-44431729499?utm_source=eb_email&utm_medium=email&utm_campaign=new_event_email&utm_term=viewmyevent_button">Reserve Your Seat   <i class="fa fa-angle-double-right"></i></a></div>
</div>
