<div class="photo-cta">
  <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  <div class="cta-button"><a href="https://dave-friedman-team.breezy.hr/" target="_blank">Apply Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/newsletter.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/subscribe" target="_blank">Sign Up Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/strategy_call.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/contact" target="_blank">Book a Call   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/workshop.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="#">Reserve Your Seat   <i class="fa fa-angle-double-right"></i></a></div>
</div>

<div class="photo-cta">
  <img src="/img/cta-images/values.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/values/" target="_blank">Values   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/hiring.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/hiring-process/">The Process   <i class="fa fa-angle-double-right"></i></a></div>
</div>
