<header class="hero">
  <div class="hero-img" style="background-image: url(/img/background.jpg); background-color: {{site.data.settings.images.hero_background_hex}}">
    <div class="row">
        <!-- <img src="/img/logo.png" class="page-logo"> -->
        <div class="hero-cta">
          <div class="cta-title">Your Guide to Increase the Value of Your Business</div>
          <div class="hero-cta-text">Nothing in this business stays the same and if you don’t have a systemized business approach, a proven methodology, and support, making a living in real estate in the “new economy” is going to be very hard. </div>
          <div class="whitespace"></div>
        </div>
    </div>
  </div>
</header>
