<header class="hero">
  <div class="hero-home" style="background-image: url(/img/background-lg.jpg); background-color: {{site.data.settings.images.hero_background_hex}}">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="hero-cta">
          <div class="cta-title">Your Guide to Increase the Value of Your Business</div>
          <div class="hero-cta-text">Nothing in this business stays the same and if you don’t have a systemized business approach, a proven methodology, and support, making a living in real estate in the “new economy” is going to be very hard. </div>
          <div class="apply-button">
            <a href="/contact" id="contact">
              <button id="apply" type="button"><i class="fa fa-download"></i>  Download My Real Estate Business Plan
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% include simple-cta.html %}
  </div>
</header>
