<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
        <!-- logo -->
				<svg class="hero-tri" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
					<polygon fill="rgba(40, 56, 145,.7)" points="0,0 300,-100 0,20"/>
				</svg>
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>
        <!-- title -->
        <a href="/"><h1 class="site-title">{{site.data.settings.images.hero_text}}</h1></a>
			</div>
</header>
