<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
        <!-- logo -->
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>
        <!-- title -->
        <p class="slogan"><a href="tel:210-215-4400">It doesn't cost a penny to talk... so call me right now and I will answer your questions!</a></p>
        <a href="/"><h1 class="site-title">{{site.data.settings.images.hero_text | replace: '-- MARKET --', site.data.settings.client.market}}</h1></a>
			</div>
</header>
