<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
        <!-- logo -->
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>
        <!-- title --><br>
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path_2}}" alt="{{site.data.settings.client.company}}" class="site-logo-2" /></a><br><Br>
				<a class="cta" href="{{site.data.settings.CTAs.first_CTA_URL}}" target="_blank">
					{{site.data.settings.CTAs.first_CTA_text}}
				</a>
			</div>

</header>
