<div class="values">
  <div class="row">
    <h1>DFT Hiring Process</h1>
    <hr>
    <img src="/img/hiring.jpg" class="half-image"><br>
    <ul class="hiring">
      <li>Step 1: Submit Your Application</li>
      <li>Step 2: Complete DISC Assessment</li>
      <li>Step 3: One-Way Video Interview</li>
      <li>Step 4: Keller Personality Assessment</li>
      <li>Step 5: Live Interview #1</li>
      <li>Step 6: Live Interview #2</li>
      <li>Step 7: Group Interview </li>
      <li>Step 8: Reference Check</li>
      <li>Step 9: Final Team Review & Decision</li>
      <li>Step 10: Expectations & Offer Meeting</li>
    </ul>
  </div>
</div>
