<nav role="navigation" class="navbar navbar-fixed-top navbar-andross">
	<div class="value-navbar">
		<!-- <a href="/" class="navbar-brand visible-xs" data-target="#navbarCollapse"	data-toggle="collapse"></a>
		<button type="button" data-target="#navbarCollapse"	data-toggle="collapse" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-2x"></i>
		</button> -->

    <div id="value-navbar">
        <div class="row value-list">
          <a href="#top" class="team-member">DFT Hiring Process</a> |

          <a href="#A6" class="team-member">Desired Qualifications</a> |

          <a href="#A7" class="team-member">DFT Training Program</a>
      </div>
    </nav>
