<header class="hero">
<div class="hero-home" style="background-image: url(/img/background-lg.jpg); background-color: {{site.data.settings.images.hero_background_hex}}">
        <!-- logo -->
        <!-- <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="home-logo" /></a> -->
        <!-- title -->
      <div class="row">
        <div class="col-sm-3"></div>
      <div class="col-sm-6">
      <div class="hero-cta">
        <div class="cta-title">Want A High Performance Real Estate Career?</div>
        <div class="hero-cta-text">Would your life change if you made $100,000+ as a full-time real estate professional?</div>
        <div class="apply-button">
          <a href="https://dave-friedman-team.breezy.hr/#positions" target="_blank" id="contact">
            <button id="apply" type="button">Apply Now
            </button>
          </a>
        </div>
      </div></div>
      <div class="col-sm-3"></div>
      {% include browse.html %}
    </div>
        {% include team-bio.html %}
        {% include simple-cta.html %}
        </div>
</header>
