<div class="lender">
  <div class="lawyer-logo">
    <a href="{{site.data.settings.lawyer.url}}" target="_blank"><img src="{{site.data.settings.images.hero_logo_path-5}}" class="lawyer-logo"/></a>
  </div>
  <div class="lawyer-info">
    <b>{{site.data.settings.lawyer.name}}</b><br>
    {{site.data.settings.lawyer.title}}<br>
    {{site.data.settings.lawyer.brand}}<br>
    {{site.data.settings.lawyer.address}}<br>
    <a href="tel:{{site.data.settings.lawyer.phone}}">{{site.data.settings.lawyer.phone}}</a><br>
    <a href="mailto:{{site.data.settings.lawyer.email}}">{{site.data.settings.lawyer.email}}</a><br>
    <a href="{{site.data.settings.lawyer.url}}" target="_blank">{{site.data.settings.lawyer.url | remove: 'http://'}}</a><br>
  </div>
<hr>
  <div class="lawyer-logo">
    <a href="{{site.data.settings.lawyer2.url}}" target="_blank"><img src="{{site.data.settings.images.hero_logo_path-4}}" class="lawyer-logo"/></a>
  </div>
  <div class="lawyer-info">
    <b>{{site.data.settings.lawyer2.name}}</b><br>
    {{site.data.settings.lawyer2.title}}<br>
    {{site.data.settings.lawyer2.brand}}<br>
    {{site.data.settings.lawyer2.address}}<br>
    <a href="tel:{{site.data.settings.lawyer2.phone}}">{{site.data.settings.lawyer2.phone}}</a><br>
    <a href="mailto:{{site.data.settings.lawyer2.email}}">{{site.data.settings.lawyer2.email}}</a><br>
    <a href="{{site.data.settings.lawyer2.url}}" target="_blank">{{site.data.settings.lawyer2.url | remove: 'http://'}}</a><br>
  </div>
</div>
