{% if site.data.settings.lender.show_section == true %}
<div class="lender">

	<h5>{{site.data.settings.lender.header_text}}</h5>
	<hr>
	<div class="lender-info">
		{% if site.data.settings.lender.headshot_path != null %}
		<div class="lender-headshot">
			<img src="{{site.data.settings.lender.headshot_path}}"/>
		</div>
		{% endif %}
		<p>
		{{site.data.settings.lender.name}}<br>
		{{site.data.settings.lender.brand}}<br>
		{{site.data.settings.lender.phone}}<br>
		{{site.data.settings.lender.email}}<br>
		{{site.data.settings.lender.url | remove: 'http://'}}
	</p>
	</div>
	<p style="text-align:center; margin:30px;">Working solely in the 401(k) retirement space since 2010, Evan has established himself as an integral part of the Financial Independence team. His time spent working with Paychex (2010-2012) Evan helped over 250 metro-Detroit companies design and improve their current 401(k) offering through Paychex TPA and Recordkeeping services. Evan functions as an Assistant to Steven Case in providing objective guidance to retirement plan sponsors and trustees. Partnering with local first, as well as leading 401(k) providers, Financial Independence offers a comprehensive service to assist plan sponsors. Since Evan is on the road a lot, you may also contact him via his cell at <a href="tel:1-313-283-7488">313-283-7488</a> or email <a href="mailto:epawloski@fscadvisor.com">epawloski@fscadvisor.com</a>.</p>
</div>
{% endif %}
