{% if site.data.settings.lender.show_section == true %}
<div class="lender">

	<h5>{{site.data.settings.lender.header_text}}</h5>
	<hr>
	<div class="lender-info">
		{% if site.data.settings.lender.headshot_path != null %}
		<div class="lender-headshot">
			<img src="{{site.data.settings.lender.headshot_path}}"/>
		</div>
		{% endif %}
		<p>
			{% if site.data.settings.lender.name != null %}
		{{site.data.settings.lender.name}}<br>
		{% endif %}
		{% if site.data.settings.lender.brand != null %}
		{{site.data.settings.lender.brand}}<br>
				{% endif %}
		{% if site.data.settings.lender.phone != null %}
		{{site.data.settings.lender.phone}}<br>
				{% endif %}
		{% if site.data.settings.lender.email != null %}
		{{site.data.settings.lender.email}}<br>
				{% endif %}
	</p>
	{% if site.data.settings.lender.url != null %}
	<a href="{{site.data.settings.lender.url}}" target="_blank" style="text-align: center; margin: 10px; padding: 10px">
		{{site.data.settings.lender.url | remove: 'http://'}}</a>
		{% endif %}
	</div>
	<div class="lender-logo">
		{% if site.data.settings.lender.logo_path_2 != null %}
		<a href="{{site.data.settings.lender.url}}" target="_blank">
		<img src="{{site.data.settings.lender.logo_path}}"/>
		</a>
		{% endif %}
		{% if site.data.settings.lender.logo_path_2 != null %}
		<img src="{{site.data.settings.lender.logo_path_2}}"/>
		{% endif %}
	</div>
</div>
{% endif %}
