<div class="container-fluid visible-xs">
  <div class="mobile-cta-container">
    <div class="mobile-cta" id="team">
      <a href="/join-our-team/" target="_blank">
        Join Our Team
      </a>
    </div>

    <div class="mobile-cta" id="call">
      <a href="/strategy-call/" target="_blank">
        Free Strategy Call
      </a>
    </div>

    <div class="mobile-cta" id="events">
      <a href="https://www.eventbrite.com/o/misty-soldwisch-for-be-better-dsm-real-estate-coaching-17105672355" target="_blank">
        Real Estate Workshop
      </a>
    </div>

    <div class="mobile-cta" id="subscribe">
      <a href="/subscribe/" target="_blank">
        Free Newsletter
      </a>
    </div>


    <div class="mobile-cta" id="meet">
      <a href="https://www.eventbrite.com/o/misty-soldwisch-for-be-better-dsm-real-estate-coaching-17105672355" target="_blank">
        Meet & Greet
      </a>
    </div>
  </div>
</div>
