<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}" id="page-bkg">
        <!-- logo -->
        <!-- <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path-2}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>-->
        <a href="/"><h1 class="site-title">More Consistent Comissions</h1></a> 
			</div>
</header>
