<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}" id="page-bkg">
        {% if page.tags contains "Join Our Team"%}
        <h3 class="site-title">EARN a Consistent Income as a Real Estate Agent</h3>
        {% endif %}
        {% if page.tags contains "HH & E"%}
        <h1 class="site-title">More Consistent Comissions</h1>
        {% endif %}
        {% if page.tags contains "9 to 5"%}
        <h1 class="site-title">Get Your Job Security Back</h1>
        {% endif %}
			</div>
</header>
