<div class="values">
  <div class="row"><a name="A6" class="a-name"></a>
    <h1>Desired Qualifications</h1>
    <hr>
    <img src="/img/qualifications.jpg" class="half-image"><br>
    <ul class="hiring">
      <li>Must be a U.S. Citizen</li>
      <li>You reside in South Carolina or willing to relocate </li>
      <li>Able to commute to our Mt. Pleasant Office</li>
      <li>Reliable Car </li>
      <li>Driver’s License </li>
      <li>South Carolina Real Estate License (preferred)</li>
      <li>Available M-F 7amEST-10amEST for Prospecting</li><a name="A7" class="a-name"></a>
      <li>Available Thursday’s 4pmEST-6pmEST for Prospecting </li>
    </ul>
  </div>
</div>
