<h5><a href="http://www.gostgeorge.com/GoStGeorge-Radio-Show" target="_blank">Check out our Radio Show!</a></h5>

<a href="http://www.gostgeorge.com/GoStGeorge-Radio-Show" target="_blank"><img src="/img/radio-show.jpg" class="radio-show"></a>

<p class="radio-show">The ORIGINAL St. George area Real Estate radio program. Created and hosted by LIFETIME local Jeremy Larkin & his elite, “Jedi” Real Estate team, The Larkin Group. This is an absolutely NO “B.S.”, local perspective on St. George real estate and factors that affect it.</p>
<p class="radio-show">If you haven’t tuned in to GoStGeorge radio, you’re missing out. It’s all about Washington County Real Estate, Community Events and other issues that will affect our property values.</p>
