<div class="browse-container">
  <div class="row">

    <div class="col-sm-4 simple-cta">
      <a href="/subscribe/" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Free Newsletter
        </p>
        <img src="/img/subscribe.png" class="simple-cta-photo">
        <p class="secondary-subtitle">
          Tips and Advice to Succeed!
        </p>
        <a href="/subscribe/" target="_blank" class="simple-cta-link">
          Sign Up Now
        </a>
      </div>
      </a>
    </div>

    <div class="col-sm-4 simple-cta">
      <a href="/strategy-call/" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Free Strategy Call
        </p>
        <img src="/img/call.png" class="simple-cta-photo">
        <p class="secondary-subtitle">
          Personalized Advice for you
        </p>
        <a href="/strategy-call/" target="_blank" class="simple-cta-link">
          Book a Call
        </a>
      </div>
      </a>
    </div>

    <div class="col-sm-4 simple-cta">
      <a href="/events/" target="_blank">
        <div class="simple-cta-container">
        <p class="secondary-cta-title">
          Upcoming Events
        </p>
        <img src="/img/workshop.png" class="simple-cta-photo">
        <p class="secondary-subtitle">
          Workshops and More
        </p>
        <a href="/events/" target="_blank" class="simple-cta-link">
          See All
        </a>
      </div>
      </a>
    </div>


  </div>
</div>
