<div class="testimonial-area">
	<div class="testimonial-container">
		<div class="testimonial-navigation">
			<a class="testimonial-btn prev"><i class="fa fa-arrow-left"></i></a>
			<a class="testimonial-btn next"><i class="fa fa-arrow-right"></i></a>
		</div>
		<img class="mySlides" src="/img/agent.jpg">
		<img class="mySlides" src="/img/headshot.jpg">
		<img class="mySlides" src="/img/sales-board.jpg">
		<img class="mySlides" src="/img/agent-plan.jpg">
		<img class="mySlides" src="/img/meeting.jpg">
		<img class="mySlides" src="/img/client.jpg">
	</div>
</div>
<script type="text/javascript" src="/js/slide.js"></script>
