<div class="slide-area">
	<div class="slide-container">
		<div class="mySlides"><img src="/img/client.jpg"><div class="slide-caption">Nick Good</div></div>
		<div class="mySlides"><img src="/img/agent.jpg"><div class="slide-caption">Nick with a client</div></div>
		<div class="mySlides"><img src="/img/nick.jpg"><div class="slide-caption">Nick at an event</div></div>
		<div class="mySlides"><img src="/img/team.jpg"><div class="slide-caption">The Good Home Team</div></div>
		<div class="mySlides"><img src="/img/meeting.jpg"><div class="slide-caption">Leading a Team Meeting</div></div>
		<div class="mySlides"><img src="/img/house.jpg"><div class="slide-caption">Showing a House</div></div>

		<div class="slide-navigation">
			<button class="w3-button w3-display-left slide-button" onclick="plusDivs(-1)">&#10094;</button>
			<button class="w3-button w3-display-right slide-button" onclick="plusDivs(+1)">&#10095;</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/slide.js"></script>
