<div class="slide-area">
	<div class="slide-container">
		<div class="mySlides"><img src="/img/agent.png"><div class="slide-caption">Tom Nickley with Agent</div></div>
		<div class="mySlides"><img src="/img/team.png"><div class="slide-caption">Tom Nickley Team</div></div>
		<div class="mySlides"><img src="/img/agent-plan.png"><div class="slide-caption">Picture Yourself Here with Your Business Plan!</div></div>
		<div class="mySlides"><img src="/img/meeting.png"><div class="slide-caption">Tom Leading a Team Meeting</div></div>
		<div class="mySlides"><img src="/img/client.png"><div class="slide-caption">Tom at Work</div></div>

		<div class="slide-navigation">
			<button class="w3-button w3-display-left slide-button" onclick="plusDivs(-1)">&#10094;</button>
			<button class="w3-button w3-display-right slide-button" onclick="plusDivs(+1)">&#10095;</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/slide.js"></script>
