<div class="homepage-bio">
  <div class="row">
    <div class="col-sm-3">
      <img src="/img/nav-logo.png" class="bio-logo sm-hidden">
      <div class="visible-xs">
        <img src="/img/nav-logo-small.png" class="nav-logo-small">
      </div>
    </div>
      <div class="col-sm-8">
        <p class="team-bio">
          Dave Friedman Team at Keller Williams employs full-time, highly productive, and educated agents focused on serving their real estate clients and communities at the highest possible level to create the best possible result. We provide accurate, detailed information, data and advice so that our clients can make informed decisions. We're committed to life-long relationships founded on integrity and mutual respect. We're here to help at all stages of the real estate transaction.
        </p>
      </div>
      <div class="col-sm-1">
        <img src="/img/kw.png" class="bio-kw sm-hidden">
      </div>
  </div>
</div>
