<div class="homepage-bio">
  <div class="row">
    <div class="col-sm-3">
      <img src="/img/nav-logo.png" class="bio-logo">
    </div>
      <div class="col-sm-8">
        <p class="team-bio">
          The Dave Friedman Team at Keller Williams employs full time, highly productive, experienced and educated brokers focused on serving their real estate clients and communities at the highest possible level to create the best possible result. We provide accurate, detailed information, data and advice so that our clients make informed decisions. We're committed to life long relationships founded in integrity and mutual respect. We're here to help at all stages in all situations.
        </p>
      </div>
      <div class="col-sm-1">
        <img src="/img/kw.png" class="bio-kw">
      </div>
  </div>
</div>
