<div class="testimonial-area">
		{% if site.data.testimonials.show_testimonials_section == true %}
			<div class="testimonial-container">
				<div class="testimonial-navigation">
		  		<a class="testimonial-btn prev"><i class="fa fa-arrow-left"></i></a>
						<h3>Hear what people are saying about us:</h3>
		  		<a class="testimonial-btn next"><i class="fa fa-arrow-right"></i></a>
				</div>
				<div id="owl-carousel" class="owl-carousel">
					{% for item in site.data.testimonials.testimonial %}
						<div class="item-container">
							<div class="item">
		            {{item.name | prepend: '<p class="testimonial-attribute">' | append: '</p>'}}
								<div id="item-truncated">
		            {{item.quote | prepend: '<p class="testimonial">' | append: '</p>' }}
								{% if item.quote.size >= 296 %}
									<p class="expand item-toggle">Show More <i class="fa fa-plus-square-o expand"></i></p>
								{% endif %}
								</div>
								<div id="item-expanded" class="item-hide">
		            {{item.quote | prepend: '<p class="testimonial">' | append: '</p>' }}
								{% if item.quote.size >= 296 %}
									<p class="expand item-toggle">Show Less <i class="fa fa-minus-square-o expand"></i></p>
								{% endif %}
								</div>
								{% if item.youtube_code != null %}
								<iframe width="560" height="315" src="https://www.youtube.com/embed/{{item.youtube_code | remove: 'https://youtu.be/' | remove: 'https://www.youtube.com/watch?v='}}?rel=0" frameborder="0" allowfullscreen></iframe>
								{% endif %}
							</div>
					</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
</div>
