<div class="row">
	<div class="col-sm-12">
		<h1 class="highlights-header">{{site.data.settings.highlights_header}}</h1>
		<hr class="header-divider">
	</div>
</div>
<div class="row video-block">
	{% for highlight in site.data.settings.highlights | limit: 3 %}
	<div class="col-lg-4">
		<div class="video-container">
			<img src="{{highlight.image}}" class="highlight-image" />
			<h4>{{highlight.title}}</h4>
			<hr>
			<p>{{highlight.text}}</p>
			<a href="{{highlight.url}}" class="ctalink">{{highlight.cta}}</a>
		</div>
	</div>
	{% endfor %}
	</div>
<div class="row">
	<div class="col-sm-12">
		<h1 class="highlights-header">Another header</h1>
		<hr class="header-divider">
	</div>
</div>
