<nav role="navigation" class="navbar navbar-fixed-top navbar-andross">
	<div class="value-navbar">
		<!-- <a href="/" class="navbar-brand visible-xs" data-target="#navbarCollapse"	data-toggle="collapse"></a>
		<button type="button" data-target="#navbarCollapse"	data-toggle="collapse" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-2x"></i>
		</button> -->

    <div id="value-navbar">
        <div class="row value-list">
          <a href="#top" class="team-member">Core Values</a> |

          <a href="#A2" class="team-member">Compensation</a> |

          <a href="#A3" class="team-member">Value Proposition</a> |

          <a href="#A4" class="team-member">Career Track</a> |

          <a href="#A5" class="team-member">First 100 Days</a> |

					<a href="/faq/" class="team-member" target="_blank">FAQ's</a>
      </div>
    </nav>
