<div class="value-prop">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="career-title">Value Proposition</div>
      <div class="career-subtitle">DFT Value Proposition and What This Means for You</div>
      <p>We have the organized processes, systems, scripts, experience, and leadership that will allow you to focus on the 20% of activities that make you money, rather than on the 80% of activities that don't. By being on our team, you will earn more money and have the greater freedom than you would working on your own.</p>




      <a href="/img/proposition.jpg" target="_blank" class="zoom">
        <img src="/img/proposition.jpg" class="three-quarter-image">
      </a>



    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
