<div class="disclosure">
  <p>WealthGuard™ is a complete portfolio monitoring system. Designed by determining the amount of downside risk a client is willing to tolerate, WealthGuard™ is added to client accounts to help protect from downside risk. WealthGuard™ is not a stop loss strategy. When the account value in the portfolio hits the targeted downside value, an alert is sent to the client, advisor, and money manager. The money manager trades the account as indicated on the WealthGuard™ agreement.</p>

<p>There is no guarantee the exact WealthGuard™ value will be captured, or assets will be traded or liquidated the same day the WealthGuard™ value is reached due to time of day and/or market restrictions. WealthGuard™ is not responsible for any tax implications that may result due to the liquidation or trading of the holdings. FormulaFolio Investments is not responsible for any errors or omissions in the information used to prepare your WealthGuard™ percentages.</p>

WealthGuard™ does not make any representations or warranties, whether expressed or implied, regarding investing in securities or investment products. WealthGuard™ makes no warranties to the legality or suitability of any investment product.</p>
</div>
