	<i class="fa fa-times fa-2x welcome-exit" aria-hidden="true"></i>
<div class="col-lg-8 col-lg-offset-2 welcome-box-content">
	<link href="/_sass/emma.sass" rel="stylesheet" type="text/sass">
	<script type="text/javascript" src="/js/emma.js"></script><div id="load_check" class="signup_form_message" >This form needs Javascript to display, which your browser doesn't support. <a href="https://signup.e2ma.net/signup/1865045/1809247/"> Sign up here</a> instead </div><script type="text/javascript">signupFormObj.drawForm();</script>
</div>
