	<!-- <i class="fa fa-times fa-2x welcome-exit" aria-hidden="true"></i> -->
<div class="col-lg-8 col-lg-offset-2 welcome-box-content">
	<h2 class="center">{{site.data.settings.welcome_box.welcome_headline | replace: '-- MARKET --', site.data.settings.client.market }}</h2>
	<p class="center">
	{{site.data.settings.welcome_box.welcome_text_markdown | replace: '-- CLIENT BRAND --', site.data.settings.client.brand}}
	</p>
	<p class="center">
		<a class="welcome-link" href="/contact-us">{{site.data.settings.welcome_box.link_text}}</a>
	</p>
</div>
