.client-image-container
	border-radius: 50%
	width: 200px
	height: 200px
	border: 3px solid $brand
	// margin: 10px auto 0 6rem
	overflow: hidden
	display: inline-block
	margin: auto

.client-image
	max-width: 200px

.about-container
	// display: flex
	// flex-wrap: wrap
	// flex-direction: column
	// justify-content: center
	font-size: 18px
	border: 1px solid #cfcfcf
	div
		display: flex
	h5
		padding-left: 10px
	hr
		margin-top: 0
		margin-bottom: 20px
.about-text
	p
		vertical-align: middle
		// display: inline-block
		// max-width: 350px
		// padding-top: 50px
		margin: auto 0
		padding: 10px
.gray
	background: #fff

.contact-text
	margin: auto
	padding: 10px
//
// @media (max-width: 1408px)
// 	.contact-text
// 		padding-left: 50px
// @media (max-width: 1258px)
// 	.contact-text
// 		padding-left: 25px
