.photo-cta
  width: 100%
  line-height: 20px
  display: block
  margin: 0 auto
  position: relative
  margin-bottom: 20px

.photo-cta-container
  width: 70%
  margin-left: 15%

.cta-button
  position: absolute
  bottom: 20px
  justify-content: center
  display: block
  color: $brand
  background-color: #fff
  border: 2px solid $brand
  text-decoration: none
  padding: 10px 20px
  font-size: 20px
  font-weight: bold
  margin-left: auto
  margin-right: auto
  left: 100px
  right: 100px
  text-align: center
  a
    color: $brand
  &:hover
    border: 2px solid #fff
    color: #fff
    background-color: $brand
    a
      color: #fff

.mobile-cta-container
  text-align: center
  font-size: 20px

.mobile-cta
  margin-bottom: 3rem
  a
    padding: 10px 20px
    margin-top: 20px
    text-decoration: none

#team
  a
    background: #DA6F45
    color: #fff
    border: 1px solid #DA6F45
    &:hover
      background: #fff
      color: #DA6F45
      border: 1px solid #DA6F45

#call
  a
    background: #256C98
    color: #fff
    border: 1px solid #256C98
    &:hover
      background: #fff
      color: #256C98
      border: 1px solid #256C98

#events
  a
    background: #AACA4D
    color: #fff
    border: 1px solid #AACA4D
    &:hover
      background: #fff
      color: #AACA4D
      border: 1px solid #AACA4D

#subscribe
  a
    background: $brand
    color: #fff
    border: 1px solid $brand
    &:hover
      background: #fff
      color: $brand
      border: 1px solid $brand

#meet
  a
    background: #F4B834
    color: #fff
    border: 1px solid #F4B834
    &:hover
      background: #fff
      color: #F4B834
      border: 1px solid #F4B834

@media (max-width: 1350px)
  .cta-button
    font-size: 16px
    padding: 8px
    left: 75px
    right: 75px
