.cta-sidebar-container
	width: 100%
	border: 1px solid #cfcfcf
	border-radius: $button-radius
	display: flex
	flex-wrap: wrap
	margin-bottom: 20px
	margin-top: 20px
	overflow: visible
	.cta-img-container
		a
			img
				max-width: 100%
				width: 1000px
	h5
		// position: relative
		// top: 0
		// left: 0
		// z-index: 1
		padding-left: 10px
	p
		font-size: 18px
		padding: 10px
		color: #555
.ctacontainer
	// padding: 20px
	margin: 0px auto 30px

.dropdown-cta
	position: relative
	overflow: visible !important
	margin: 0px auto 20px

.dropdown-toggle-cta
	justify-content: center
	background: $brand
	border: 1px solid $brand
	border-radius: $button-radius
	padding: 10px 20px
	text-decoration: none
	font-size: 18px
	color: $light-text
	+transition
	a
		text-align: center
	&:hover
		background: transparent
		color: $brand-light
		box-shadow: 4px 4px 0 $brand-light
		border: 1px solid $brand-light
		@include transform(scale(1.05))
		@include transform(translateY(-0.2rem))
	&:active
		box-shadow: 0 0 0 $brand-light
		@include transform(translateY(0rem))

// .dropdown-toggle-cta
// 	background: $button-background
// 	color: $button-text
// 	padding: 1.3rem 2rem
// 	text-transform: capitalize
// 	font-size: 2rem
// 	font-weight: 300
// 	border: 2px solid $button-border
// 	border-radius: 0
// 	@include transition(0.3s)
// 	&:hover
// 		// background: $button-background
// 		color: $brand-dark
// 		box-shadow: 4px 4px 0 $brand-dark
// 		border: 2px solid $button-border
// 		@include transform(scale(1.05))
// 		@include transform(translateY(-0.2rem))
// 	&:active
// 		box-shadow: 0 0 0 $brand-dark
// 		@include transform(translateY(0rem))
// 		text-decoration: none
// 		color: $brand
// 	&:focus
// 		text-decoration: none
// 		color: $brand
