//For individual theme fixes. You know all about it.
.site-logo
	padding-bottom: $nav-height + 6rem
	padding-top: $nav-height + 6rem
.footer
	color: #fff
	.attribution
		svg
			fill: #fff
	.socials
		svg
			fill: #fff
	a
		color: #fff

.newsletter
	background: #30302F

.navbar-left
	li
		a
			color: #fff




.fa-bars
	color: #fff

.navbar-andross
	.navbar-brand
		color: #fff
		margin-top: 10px
@media (max-width: 1000px)
	.site-logo
		margin: 0
		min-width: 90%
		padding-bottom: 0rem
		padding-top: 0rem
