//For individual theme fixes. You know all about it.
// .site-logo
// 	max-width: 40rem

.footer
	color: #726359
	.attribution
		svg
			fill: #726359
	.socials
		svg
			fill: #726359
			background: #fff
			&:hover
				background: #fff
	a
		color: #726359

.newsletter
	background: $brand



.fa-bars
	color: #fff

.navbar-andross
	.navbar-brand
		color: #fff
		margin-top: 10px
