//For individual theme fixes. You know all about it.
// .site-logo
// 	max-width: 40rem

.footer
	color: #0C218E
	.attribution
		svg
			fill: #0C218E
	.socials
		svg
			fill: #0C218E
	a
		color: #0C218E

// .navbar-left
// 	li
// 		a
// 			color: $brand




.fa-bars
	color: #fff

.navbar-andross
	.navbar-brand
		color: #fff
		margin-top: 10px
