.hero-img
	background-position: center
	background-size: cover
	padding-top: $nav-height + 3rem
	padding-bottom: 1rem
#hero
	background-position: center
	background-size: cover
	background-attachment: fixed
	background-repeat: no-repeat
	text-align: center

.site-logo
	width: 90%
	max-width: 40rem
	padding: 20px
	margin-top: -2rem
	@include filter(drop-shadow($header-shadow))

.site-title
	color: $header-font-color
	text-shadow: $header-shadow
	text-transform: uppercase
	font-size: 6.5rem
	font-weight: bold
	margin-bottom: 0
	padding: 0 15rem

.credentials
	color: #ffffff
	font-weight: 300
	font-size: 3.5rem
	margin-top: -3rem
	margin-bottom: 2rem
	font-weight: bold
	text-shadow: $header-shadow

@media (max-width: 1500px)
	.site-title
		font-size: 5rem
		padding: 0 10rem

	.site-logo
		max-width: 30rem

	.credentials
		font-size: 2.5rem
		margin-bottom: -1rem

@media (max-width: 1200px)
	.site-title
		font-size: 4rem
		padding: 0 4rem

	.site-logo
		max-width: 20rem

@media (max-width: 1000px)
	.site-logo
		max-width: 20rem

@media (max-width: 760px)
	#hero
		// height: 33rem
	.site-logo
		display: none
	.site-title
		font-size: 4rem
		padding: 0 3rem

	.credentials
		font-size: 2rem
		margin-top: 1rem

	.hero-image
		padding-top: $nav-height + 5rem

@media (max-width: 600px)
	#hero
		// height: 31rem
	.site-logo
		display: none
	.site-title
		font-size: 3.5rem
	.cta
		padding: 1rem
	.credentials
		font-size: 2rem
@media (max-width: 400px)
	#hero
		// height: 25rem
	.cta
		padding: 0.5rem
