

#search-results
	list-style: none

.search-box
	margin: 10px 0
	width: 100%
	.search-input
		padding: 20px 10px
		font-size: 18px
		border: 1px solid #000
		border-radius: $button-radius
		background: rgba($light-text,0.1)
		color: $brand
		font-size: 2rem
		padding: 2.4rem
		// width: 70%
		display: inline-block
		margin-right: 1rem
			color: #c7c7c7
		&:focus
			background: $light-text
			color: $brand
			// color: transparent
	.search-submit
		background: #fff
		color: #000
		padding: 1rem 2rem
		text-transform: capitalize
		font-size: 2rem
		border-radius: $button-radius
		font-weight: 300
		border: 1px solid #000
		&:hover
			background: transparent
			color: $brand
			border: 1px solid $brand
		&:active
			box-shadow: 0 0 0 $brand-light
			// @include transform(translateY(0rem))
@media (max-width: 990px)
	.search-box
		max-width: 95%
		margin: 0 auto
