.compensation
  display: block
  margin: auto
  font-size: 20px
  text-align: center
  height: 200px
  text-transform: uppercase
  color: $brand
  // border-radius: 5px
  padding-top: 4rem
  padding-left: 2rem
  padding-right: 2rem
  // background: rgba(238,238,238,.9)
  line-height: 22px

.compensation-container
  padding-top: 3rem
  width: 75%
  margin: 0 auto
  display: block

@media(max-width: 1600px)
  // .compensation-container
    // width: 90%
  // .compensation
    // width: 90%

@media(max-width: 1000px)
  .compensation
    height: 125px
  .compensation-container
    width: 100%
    padding-top: 1rem
    padding-bottom: 5rem
// .comp-type
//   padding-top: 1rem

.comp-svg
  width: 50px
  padding-bottom: 2rem

.brand-logo
  width: 200px
  margin-bottom: 2rem

.comp-title
  font-family: "Lato", serif
  font-weight: 700
  font-size: 60px
  line-height: 70px
  color: $brand
  text-align: center
  margin-top: 3rem

.comp-subtitle
  font-weight: 400
  font-size: 26px
  color: $theme
  text-align: center
  // margin-top: 2rem

.img-table
  width: 100%
  margin-top: 3rem

.career-track
  padding: 3rem
  background: $theme

.career-title
  font-family: "Lato", serif
  font-weight: 700
  font-size: 60px
  line-height: 70px
  color: #fff
  text-align: center
  // margin-top: 2rem

.career-subtitle
  font-weight: 400
  font-size: 26px
  color: #fff
  text-align: center
  // margin-top: 2rem

#core-value-header
  font-weight: bold
  color: black
  text-align: center

.core-value
  font-size: 32px
  line-height: 36px
  padding-bottom: 10px
  font-weight: 600
  color: #fff
  text-shadow: $header-shadow

.core-value-section
  margin: 0 auto
  display: block
  width: 65%
  hr
    border: 2px solid $brand
    margin-bottom: 2rem
    width: 60%
    margin-left: 0

.value-quote
  font-size: 18px
  font-style: bold
  color: #fff

.value-author
  font-size: 18px
  font-style: bold
  color: #fff

#value-title
  text-align: center
  padding-top: 3rem

.bkg-img
  background-position: center
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  margin-top: 10rem

#comp-end
  margin: 3rem 0

#graph
  padding-top: 2rem

#value
  color: #000
  text-align: left

#value1
  padding: 3rem

#value2
  padding: 3rem
  // text-align: right
  hr
    // margin-left: 40%

#value-img1
  padding: 0

#value-img2
  padding: 0

.value-prop
  // margin-top: 3rem
  padding: 3rem
  background: $theme
  p
    color: #ffffff
    text-align: center
    margin: 2rem 0
    font-size: 18px

.hidden
  display: none

@media(max-width: 750px)
  display: block

.mission
  text-align: center
  font-size: 20px
  padding: 3rem
  h1
    font-weight: bold
    color: $brand
    font-size: 60px
