.compensation
  display: block
  margin: auto
  font-size: 20px
  text-align: center
  width: 85%
  height: 200px
  text-transform: uppercase
  color: $brand
  // border-radius: 5px
  padding-top: 4rem
  padding-left: 2rem
  padding-right: 2rem
  background: rgba(238,238,238,.9)
  line-height: 22px

// .comp-type
//   padding-top: 1rem

.comp-svg
  width: 50px
  padding-bottom: 2rem

.brand-logo
  width: 200px
  margin-bottom: 2rem

.comp-title
  font-family: "Lato", serif
  font-weight: 700
  font-size: 60px
  line-height: 70px
  color: $brand
  text-align: center
  margin-top: 3rem

.comp-subtitle
  font-weight: 400
  font-size: 24px
  color: $theme
  text-align: center
  margin-top: 3rem

.img-table
  width: 100%
  margin-top: 3rem

.career-track
  padding: 3rem
  background: $theme

.career-title
  font-family: "Lato", serif
  font-weight: 700
  font-size: 60px
  line-height: 70px
  color: #fff
  text-align: center
  margin-top: 3rem
