<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

	<body>
		{% if site.data.settings.audit_header == true %}
			{% include audit.html %}
		{% endif %}
		<div class="row">
			<div class="col-sm-12">

				{% include value-navigation.html %}
			</div>
		</div>
		{% include page-header.html %}
		<div class="container-fluid" id="recruit">

						<div class="col-lg-10 col-lg-offset-1">
							{{ content }}
						</div>

					<!-- Sidebar Content // Hidden on mobile -->
					</div>

					</div>
					{% include footer.html %}
		  </body>
		</html>
